regularization/.ipynb_checkpoints/*
kernel_regression/.ipynb_checkpoints/*
.idea
dog_classifier/__pycache__/
autoencoders/__pycache__/

autoencoders/.ipynb_checkpoints/
rnn/__pycache__/
rnn/runs/
dlrm/__pycache__/
investments/.ipynb_checkpoints/
dlrm/.ipynb_checkpoints/
dlrm/runs/
dlrm/train_logs/
dlrm/torch_compile_debug/
dlrm/tb_logs/
pytorch_cpp/.ipynb_checkpoints
pytorch_cpp/build/
pytorch_cpp/cmake-build-debug/
dlrm/profiler_logs/
embeddings/.ipynb_checkpoints/
embeddings/__pycache__/
dlrm/kernels/third-party/
dlrm/kernels/cmake-build-debug/

/transformers/models/
/transformers/.ipynb_checkpoints/
/transformers/__pycache__/

pytorch_cpp/libtorch-macos-latest.zip
pytorch_cpp/third-party

dlrm/.DS_Store
.DS_Store

/rec_sys/.ipynb_checkpoints/
/rec_sys/data/.ipynb_checkpoints/
/rec_sys/data/ml-1m/.ipynb_checkpoints/
/rec_sys/data/ref_post_medium.pdf
